@media only screen and (max-width: 940px) {

	.unblur {
		filter: none;
		pointer-events: all !important;
	}

	:not(.channel-stretched).sidebar-2K8pFh {
		display:none;
	}

	.channel-stretched {
		width: 100%;
	}

	:not(.server-disabled).tree-3tCaw8 {
		pointer-events: none;
	}

	.channel-stretched > nav > div > div > a {
		max-width: none;
	}
}
